<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test 11sep</title>
</head>
<body>
    <h1>Instituto Tecnológico</h1>
    <img src="{{ instituteImage }}" alt="Imagen del Instituto">
</body>
</html>